/* Font size for p - 15px; 
Font family - Outfit | 400 and 700 weights

Mobile layout - 375px, Desktop 1440px */

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: var(--lightGray);
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.desktop-container {
    max-width: 1440px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qr-card {
    width: 100%;
    max-width: 300px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card-content h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 10px auto;
    width: 90%;
}

.card-content p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: var(--grayishBlue);
    width: 90%;
    margin: 10px auto;
    margin-bottom: 20px;
}